exceptiongroup==1.3.1
pycparser==2.23
grpcio==1.70.0
pyasn1_modules==0.4.2
pytz==2026.1.post1
scikit-learn==1.3.2
smmap==5.0.3
narwhals==1.42.1
importlib_metadata==8.5.0
einops==0.6.1
Shapely==1.8.5.post1
pathspec==0.12.1
platformdirs==4.3.6
MarkupSafe==2.1.5
pyquaternion==0.9.9
pyparsing==3.1.4
scikit-image==0.19.3
setuptools==75.1.0
fire==0.7.1
terminaltables==3.1.10
requests==2.32.4
matplotlib==3.5.3
pyflakes==3.2.0
nuscenes-devkit==1.1.11
requests-oauthlib==2.0.0
pandas==2.0.3
flake8==7.1.2
certifi==2026.2.25
yapf==0.32.0
networkx==2.2
google-auth-oauthlib==1.0.0
idna==3.11
descartes==1.1.0
Werkzeug==3.0.6
fonttools==4.57.0
pycodestyle==2.12.1
packaging==26.0
pip==24.2
gitdb==4.0.12
PyWavelets==1.4.1
pytest==8.3.5
sentry-sdk==2.57.0
typing_extensions==4.13.2
joblib==1.4.2
threadpoolctl==3.5.0
protobuf==5.29.6
imageio==2.35.1
pycocotools==2.0.7
wheel==0.44.0
plotly==6.6.0
trimesh==2.35.39
tensorboard-data-server==0.7.2
pydantic==2.10.6
iniconfig==2.1.0
addict==2.4.0
absl-py==2.3.1
termcolor==2.4.0
mccabe==0.7.0
GitPython==3.1.46
torch==1.9.0+cu111
cachetools==5.5.2
urllib3==2.2.3
six==1.17.0
pillow==10.4.0
torchaudio==0.9.0
google-auth==2.49.1
PyYAML==6.0.3
mmcls==0.25.0
tomli==2.4.1
tensorboard==2.14.0
oauthlib==3.3.1
mmdet==2.28.2
cycler==0.12.1
wandb==0.24.2
mypy_extensions==1.1.0
tzdata==2025.3
lyft-dataset-sdk==0.0.8
cffi==1.17.1
eval_type_backport==0.3.1
tifffile==2023.7.10
tqdm==4.67.3
mmcv-full==1.6.0
cryptography==46.0.6
charset-normalizer==3.4.7
importlib_resources==6.4.5
pydantic_core==2.27.2
mmsegmentation==0.30.0
numba==0.57.1
opencv-python==4.13.0.92
Markdown==3.7
wcwidth==0.6.0
kiwisolver==1.4.7
zipp==3.20.2
contourpy==1.1.1
decorator==5.2.1
pluggy==1.5.0
numpy==1.23.5
click==8.1.8
pyasn1==0.6.3
annotated-types==0.7.0
plyfile==1.0.3
torchvision==0.10.0+cu111
python-dateutil==2.9.0.post0
black==24.8.0
scipy==1.10.1
prettytable==3.11.0
llvmlite==0.40.1
mmdet3d==1.0.0rc6
platformdirs==4.2.2
typing_extensions==4.12.2
jaraco.collections==5.1.0
autocommand==2.2.2
jaraco.functools==4.0.1
packaging==24.1
backports.tarfile==1.2.0
importlib_resources==6.4.0
wheel==0.43.0
tomli==2.0.1
zipp==3.19.2
jaraco.text==3.12.1
more-itertools==10.3.0
typeguard==4.3.0
inflect==7.3.1
importlib_metadata==8.0.0
jaraco.context==5.3.0
